li{
    color: skyblue;
}
#players {
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    
}
body{
    font-family: sans-serif;
}
#messi{
    padding-top: 10px;
}
#logo{
    height: 80px;
    padding: 0px 0px;
    margin: 0px 0px;

}
#pessi{
    display: flex;
}

#Ankara_Messi{
    width: 50%;
}#robber{
    width:50%;
    margin-left: 700px;
    margin-bottom: 40%;
}
#ronaldo_achivements{
   margin-left: 300px;
    margin-bottom: 140px;
}
#penaldo{
    border-right:  0px;
    margin-right: 10px;
    row-gap: 0px;
}